<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>TEST AZUMA</title>
	<link rel="stylesheet" href="../css/style.css">
	<script defer src="../js/my.js"></script>
</head>
<body>
	
	<section>
		<h2>GitHubアカウント</h2>
		<p>アカウント名：kunitoshi</p>
	</section>

	<section>
		<h2>プピプピ文太</h2>
		<p>
			2010年6月2日生まれ、シベリアン・ハスキーのオス。<br>
			甘えん坊でひっつき虫です。<br>
			のんびりで穏やかな性格で滅多に起こらないし吠えませんので、番犬には向いてません。<br>
			　　　　　　　　　　　　　　　　↑さすがの文太も起こるかもしれませんね。。。
		</p>
	</section>

</body>
</html>