<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TEST Bitbucket</title>
    <link rel="stylesheet" href="../css/style.css">

    <script defer src="../js/my.js"></script>

</head>

<body>
    <header>
        <h1>あえいfjlfjlfじぇfjfj</h1>
        <p>
            ついに我が社にもGitを導入を検討することになりました。導入するにあたり、まずは誰かが使えるようになる必要があります。まずは実際に試してみましょうということで模索しながら学んでいきます。
        </p>
    </header>
    <section>
        <h2>
            Gitをわかりやすくしよう！
        </h2>
        <p>
            本来Gitはターミナルやコマンドプロンプトを使って、コマンドを叩いて動作させるものです。慣れればなんてことはないのですが、やはりGUIがあってわかりやすいほうがいい。ということで今回は練習として以下を使用します。
        </p>
        <ul>
            <li>
                Gitクライアント：「Source Tree」
            </li>
            <li>
                Git用サーバー：「Bitbucket」
            </li>
            <li>
                Git管理の手法：「Git Flow」
            </li>
        </ul>

        <p>
            この3点を使用します。
        </p>
    </section>

    <section>
        <h2>練習用セクション</h2>
        <div id="box_practice">
            リポジトリ復活しました！<br>
            新メンバー追加します！！<br>
            誰もやってくれない。<br>
            壽﨑が参加しました。<br>
            <span class="test_text">全然すすみませんね。そんな感じならCSSとか触っちゃいますよ！</span>
            森山です。<br>
            ソースツリー使うの諦めました。無理やりコミットしてやります。出来てるか分かりませんが。<br>
            あーあ。全然だめ。私全然ダメ。<br>
            すいません！！ご迷惑おかけしてすいません！！
            ありがとうございます！！SSHもう一度みてみます…
            私だけブラウザから無理やりコミットしてます。
            コミットできただけでも嬉しいです。<br>
            分かりやすい動画説明ありがとうございました！！
            以下言い訳になりますが…
            家のsourcetreeが古いタイプで、山内さんが送ってくれた動画にある
            SSHのクリップボードコピーボタンが出てきませんでした…
            ので、最新sourcetreeに変えようと試みてます。
            が、PCのOSが10.11.6で最新ソースツリーが開けませんでした…
            なので、只今OS X 10.13にアップデート中です。
            あと１時間かかると表示されてるので、待ちきれず寝てしまうかもしれません。
            せっかく丁寧な動画いただいたのに、申し訳ありません。
            明日までに必ず設定します！会社のPCは最新なので、朝挑戦してみます！
            ご丁寧な対応、ありがとうございました！！<br>
            山内さん！！！
            届いてますでしょうか？今回こそはソースツリーからのコミットです。
            届きますように。<br>
            あとでまたやります。！<br>
        </div>

        <h2>練習用セクション2</h2>
        <div id="box_practice">
            Gitの理解が深まったら色々と幅が広がります。まずはある程度使えるようになってもらって、次はあれとあれとあれとあれとあれをごにょごにょしていきます！！<br>
            かしこまりました！よく分からないまま、いろんなボタン押しまくってるので、
            皆さんに被害が及んでたら申し訳ありません。<br>
            <br>
            <p class="txt_red">イデヨエラー。</p><br>
            山内さん。
            私だけがエラーですか？笑
            プルは無事できました。
            コミットはいまからです！<br>
            エラー封印。
        </div>
        <div id="box_practice">
            <p>master<br>
            リリース可能な状態だけを管理する<br>
            特定のブランチからマージすることによってしか更新されない<br>
            直接コミットしてはならないという制約をもつ<br>
            バージョンごとのtagはここから生まれる<br>
            </p>
            <p>
            develop/[バージョン番号など]<br>
            先のリリースに向けた普段の開発で使用する<br>
            後述のfeatureやreleaseブランチはここから派生<br>
            </p>
            <p>
            feature/[派生元バージョン番号など]/[機能名など]<br>
            機能追加・改修などを行う作業ブランチ<br>
            developブランチから、featureブランチを切る<br>
            完了後はdevelopブランチにマージされて、featureブランチは削除される
            </p>
        </div>
        <div id="box_practice">
            <p>
            ブランチとは<br>
            作業履歴を枝分かれさせて記録していくためのもの。<br>
            使うと何がいいのか？<br>
            他のブランチの影響を受けないため複数の作業を同時に進められる<br>
            作業単位で履歴を残すことで後で見た時にわかりやすい<br>
            複数人で開発するときにはそれぞれが他の作業者の影響を受けずに進められるし、ひとりで開発する場合でも作業履歴を綺麗に管理しておけるので使用した方がいい。
            </p>
        </div>
        <div id="box_practice">
        <p>
        【ブランチを使う理由】<br>

        ★ブランチを使っていないと、チーム開発でのバージョン管理が混乱状態になる<br>
        （問題）<br>
        ▶︎複数人での開発のとき、git最新版の管理がうまくできない<br>
        ・masterブランチで、二人同時に修正を行っていると、結局最新版のmasterはどちらなのか、わからなくなる。<br>
        ・2人で同時に開発するときに、同ブランチで作業をすると、コンフリクト（後述）が起こりやすくなる。<br>
        ▶︎あとから見直して、どのコミットでどのファイル修正をしてるか、がうまく分かれていない<br>
        ・ほかの人がファイルを見たときに、「このコミットでは、結局どのファイルのどこが変わったの？」となって分かりにくい。<br>

        ↑これをgitのブランチ機能が解決してくれる　らしいです<br>

        参照　https://monomode.co.jp/web/git.html<br>
        </p>
        </div>

        新リポジトリがクローン出来ない場合は、
        以下のファイルを変更すると、無事繋がりました！

        /Users/kabushikikaishauevuado/.ssh/config

        「Host アカウント名-Bitbucket」
        を「Host bitbucket.org」に変える

        # --- Sourcetree Generated ---
        　　Host moriyamaharuka-Bitbucket
        HostName bitbucket.org
        User moriyamaharuka
        PreferredAuthentications publickey
        IdentityFile /Users/moriyama02/.ssh/moriyamaharuka-Bitbucket
        UseKeychain yes
        AddKeysToAgent yes
        # ----------------------------

        また山内さんが教えてくれました。笑
        私の力ではありません。すいません。

        <div class="box">
            一人で頑張ってくれてたんですね。<br>
            知ってましたが、遅くなってすみません。<br>
            仙台のホテルなうです！<br>
            <br>
            ちなみに練習中なのであまり意識していないと思いますが、つっこみたいのでつっこみます。同じ名前のidは1ページに1つです。
        </div>
        <div id="sorry">
            お疲れ様です。返信ありがとうございました。
            gitがメール化してますね。笑
            東京＆仙台出張お疲れ様です！
            
            IDミスめちゃくちゃお恥ずかしい…
            初心者的ミスをしてしまいすいません…
            
            gitでいつかコーディングの提案？勉強会？も
            出来そうですね。

            という私の戯言でした。
            来週も東京でお会いできるのを楽しみにしてます！！
            出張頑張ってください！
        </div>
        <div class="box">
            ほんとにメール状態。文通ですね。誰も参加してくれないのが寂しいですが、少しずつ覚えていきます。<br>
            とりあえず今回はスカッシュというものをやってみます。<br>
            <br>
            これはコミットを１つにまとめるような役割だそうです。<br>
            実行しまーす！<br>
            <br>
            SourceTreeでのやり方<br>
            http://seeku.hateblo.jp/entry/2015/10/14/091822
        </div>
        <div class="box_02">
            お疲れ様です。
            お忙しい中文通してくださってありがとうございます。笑
            私もスカッシュってみます！
            スカッシュ練習！同じくスカッシュスタート。
            <br>
            コミットコミットスカーーシュ<br>
            では、私は５つのコミットを<br>
            すかっしゅ<br>
            してみます！出来るか分かりませんが。<br>
            出来てそうです。（多分）<br>
            新技のご教授ありがとうございました！

        </div>
        <div class="box">
                <h2>
                    test<p>テスト</p>
                </h2>
        </div>

        <div class="box">
                <h2>
                    ぷるりく森山チャレンジ
                </h2>
        </div>
        
        <div class="box">
        <h2>cloneからのPull Request</h2>
        <p>
        AさんとBさんがあるリモートリポジトリをforkし、並行して作業をすると仮定します。ブランチモデルはGitHub Flowを採用します。

        １）masterブランチからトピックブランチを分岐させて開発用のdevelopブランチとします
        ２）developブランチからAさん用にdevelop_aブランチ、Bさん用にdevelop_bブランチを作成します
        ３）AさんとBさんはリモートリポジトリをcloneし、それぞれのブランチで開発をおこないます
        ４）Aさんは修正・追加した内容をステージングエリアに移動させてから、develop_aブランチにコミットします
        ５）コミットした内容をリモートリポジトリのdevelop_aブランチへpushします（これでリモートとローカルの両方に反映されました）
        ６）リモートリポジトリのdevelopブランチにdevelop_aブランチの内容を反映させるためにPull Requestをします
        ７）コードレビューをおこない承認されたらPull Requestをマージします（これでdevelopブランチに反映されました）
        ８）Bさんはcheckoutをおこないdevelop_bブランチからdevelopブランチに切り替えます
        ９）pullをおこない更新されたdevelopブランチ（リモートリポジトリ）の情報をローカルリポジトリへ反映させます
        １０）checkoutをおこないdevelop_bブランチに切り替えます
        １１）更新されたdevelopブランチの情報をdevelop_bブランチにマージをして反映させます
        １２）コンフリクトを起こした場合は、あとからpullをしたBさんが解決します
        １３）再び開発を続けます
        </p>

        <p>２パターンPull Requestのやり方がある。という事ですかね？！<br>
            ブランチ切り替えてやる方法と、同ブランチでやる方法…？！<br>
            今回ブランチを切り替えてやってみてるつもりなのですが、上手くできているのかは謎です…<br>
        </p>
        </div>

        <div class="box">
        <p>
            この流れで、次は「forkからのPull Request」にチャレンジしてみようかと思います。
            が、私は「forkして追跡する」の意味がよく分からないので、もう少々お時間ください…
        </p>
        </div>
        <div class="box">
            <h2>再度チャレンジです。</h2>
            <p>先ほどのhr修正させていただきました。
            ご確認宜しくお願いいたします。</p>
        </div>

        <h2>コンフリクト</h2>
        <div>
            コンフリクトかコンクフリトかコンクリフトか分からなくなる
            競合練習です
        </div>
        
        <h2>コンフリクト練習２</h2>
        <div>
            developより
        </div>

        <h2>コンフリクト練習２</h2>
        <div>
            こんにちはフューチャーより。
        </div>

        <h2>コンフリクト練習3</h2>
        <div>
            developから
        </div>

        <h2>LFS?</h2>
        <div>
            コンフリクト実験していたら、.gitattributes
            というファイルが現れました。<br>

            git flowの上にあるGit LFSというのを間違えて押してしまいました。<br>

            消して良いのかがわかりません。すいません。<br>
        </div>
        <h2>チェリーピック実験</h2>
        <div>チェリーピック用コミット０３
        </div>
        



    </section>


</body>

</html>