<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TEST Bitbucket</title>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>

テストーーーー

    　　　　　　　　　　　　　　　　　　　　　　 　 , - ､　　┼
    　　　　+　　　　　　　 　 ,.　- ―――- ､/　　　i
    　　　　　　　　　　　　／　　 _　　　　_　 　 　 　 |
    　　　　　　　　　　　/　　　 んl 　　 ん!　　　､_,./
    　　　　　　　　, -‐ｲ.　　　　ﾄ ｊ　 　 ﾄ;ｲ　　　　 i
    　　　　　　　 {　　 |　　　 　 ｀ r― ┐´　　　 　 |　　　　__人__
    　┼　　　 　　ヽ、|　　　 　 　 ヽ _ノ　　　　　　 ! 　　　　｀Y´
    　　　　　　　, -‐ ┴‐- 、　　　　　 　 　 　 　 /
    　　　　　　（　　　　　　　＼　　　　　　　　 , ｲ
    　　　　　　　＼　　　　　　　ヽ　　　　　 ／　 !
    　　__人__　　　 ヽ、　　　　　 }ｰ-┬　'　　　 l　　　　+
    　　 ｀Y´　　　　　 ｀ ー--‐ ' 　 　 l　　　　　|
    　　　　　　　　　　　　　　　　　　　 ヽ、　　ノ
    　　　　　　　　　　　　　　　　　　　　　 ￣
    　　　￣/　___　/　i o　___ -┼ｧ　___　|＿、、　　/二/ ___　_,.ｨ'´ /
    　　　／＼　　/　 ヽ､　　　 ﾉ ﾉ　　 　|＿_　イ　　／　　　　　|　/__ヽ,




    　　　　　　　　　　　　　 _,.-‐''"´ ￣ ｀` ' ‐.､._
    　　　　　　　　　　　,. ‐'´　　　　　　　　　　 　 `‐､
    　　　　　　　　　 ／　 　　　　　　　　　　　　　　 　＼
    　　　　　　　　 ,i´　　_;;-＝=ｪ;､　　 ,,,,,,,,,,,,,,,＿ 　 　　 ヽ.
    　　.　　 　 　 /　　　"-ー:ｪｪヮ;::)　 f';;_-ｪｪ-ニ 　　　 　'l、　
    　　　　　　　,i　　　 ::::''　　￣´.::;i,　 i　`''￣　 　　 　　　 l 　
    　　　　 　_,.ｲ　　　 　::.　　....:;イ;:'　　l　､　 　　　　　　　　ﾄ ､ 　　
    　　.　　 /　　　　　　　　 ／　ﾞ=-=´｀ヽ.　　 　　　　　 　 　`､
    　　.　　! 　　　　　　　　 ::´~＝==' '==＝''`　　　　　　　　　　　l
    　　.　　'!　　　　　　　　　　 `::=====::"　　　　　　　　　 　 　　 !
    　　　　　＼_l　　　　　　　　　　　｀ ´　　　　　　　　　 　 l_ ／
    　　.　　　 　ヽ,　　　　　　　　　　 　　　　 　　　　　 　　,!'
    　　　　　　 　 ヽ,　　　　　　　　　　　　　　　　　 　　　/
    　　　　　　 　　, '＼　　　　　　　　　　　　　　　　　.／ ､
    　　　　　　　／ 　 　`‐.､　　　　　　　　　 　 　,.‐'´　 　 ＼
    　　　　　　/　　　　　　　`'‐.､. _ ＿＿ _,,..-‐''´　　　　 　 　!
    　　　　　　!　 　　　　　　　 　　 ﾉ　　 !　　　　　　　　　 　 ﾉ
    　　　　　　 'ｰ-..,,,＿＿ ,,...--‐'´　　　 ｀'ｰ-..,,,＿＿＿,..-''´


    ぺぽー<br>
    第二の山内が降臨しました。<br>
    <br>
    　　　　　　　／￣￣￣￣＼
　　　　　　/;;::　　　　　　　::;ヽ
　　　　　　|;;:: ｨ●ｧ　　ｨ●ｧ::;;|
　　　　　　|;;::　　　　　　　　::;;|
　　　　　　|;;:: 　　c{　っ　　::;;|
　　　　　　 |;;::　　＿＿　　::;;;|
　　　　　　 ヽ;;::　　ー　　::;;／
　　　　　　　　＼;;::　　::;;／
　　　　　　　　　 |;;::　 ::;;|
　　　　　　　　　 |;;::　 ::;;|
　　　／￣￣￣　　　　 ￣￣￣＼
　　　|;;::　　　　　　　　　　　　　　::;;|
　　　|;;::　　　　　　　　　　　　　　::;;|

    壽﨑も来たよ。4/17(水)<br>
    （☝ ՞ਊ ՞）☝<br>
    いえーい。<br>
    パリピパリピ。<br>
    カジュア！
    <br>
    バンザイミヤザキ！！！！！
    　　　　ヽ　/ /⌒＼
　　 ／ヽヽ|/⌒＼ii|＼
　／ ／ヾゞ//／＼＼|
　|／　　 |;;;;;;|　　　＼|
　　 　 　 |;;;;;;|
　　 　 　 |;;;;;;|
 　　　　　|;;;;;;|
　　 　 　 |;;;;;;|
　　 　 　 |;;;;;;|
　　 　 　 |;;;;;;|
　　 　 　 |;;;;;;|


    はなわは完全に終わったので再稼働はありませぬ！
    はなわに費やしてたエネルギーに余裕がでました

    家でも作業できるようようやく環境ととのえました・・
    では宜しくお願いします、もうだいぶ遅れてしまいましたが・・。<br>
    よろしくぅ！

    <section>
        <h2>
            とりあえず以下を覚えておけばいいと思います！！！<br>
            わからいことがあれば聞いてください！
        </h2>
        <p>
            --基礎--<br>
            コミット / プル / プッシュ / フェッチ / GitFlow - 概念と開始と終了 / コンフリクトの解消 / コミットのリセット<br>
        </p>
        <p>
            --オプション 無理に覚えなくてもいいかも--<br>
            スカッシュ / チェリーピック <br>
        </p>
    </section>
    <gentaro>
            なるほど！ありがとうございます！
    </gentaro>
    <section>
        <h2>（オプション）あとプルリクエストってのもやりましたね☆</h2>
        <p>( ・∇・){これでプルしても本当に大丈夫かを、相手に一度確認してもらう事が出来ました★</p>
    </section>
</body>

</html>